* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

nav {
    height: 10vh;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    /* font-size: 40px; */
    font-size: 2.3rem;
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.left-nav {
    width: 25%;
    text-align: center;
}

.right-nav {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-night-modes {
    height: 45px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #83aaff;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}

.day-night-modes .modeSun {

    height: 33px;
    width: auto;
}

.modeMoon{
    height: 33px;
    width: auto;
}
/* for sun-moon Visibility */
.dark {
    .container {
        background-color: #001451;
        color: #83aaff;
    }

    nav {
        background-color:  #102463ee;
        color: #ffffff;
    }
}

/* Main - Body */
.container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: #83aaff;
}

h2 {
    font-size: 29px;
    color: rgb(216, 227, 255);
}

.digit {
    font-size: 130px;
    color: #fff;
}

.txt {
    font-size: 30px;
    font-weight: bold;
}

#buttons {
    width: 60%;
    height: 10%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    width: 90px;
    height: 35px;
    padding: 8px 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #ffffff;
}

#reset {
    background-color: red;
}

#start {
    background-color: green;
}

#stop {
    background-color: blue;
}


#time {
    height: 160px;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}


.notes{
    height: 15%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    text-align: center;
}

.note {
    font-size: 13px;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
}

.r-key {
    font-size: 16px;
    color: rgb(174, 0, 0);
    font-weight: bold;
}

.s-key {
    font-size: 16px;
    color: green;
    font-weight: bold;
}

.p-key {
    font-size: 16px;
    color: rgb(39, 93, 255);
    font-weight: bold;
}

.modeChange {
    font-size: 16px;
    color: rgb(174, 0, 255);
    font-weight: bold;}